<span>{{word.word}}</span>
<span>Диалект:</span>
<select class="changeword__select_dialects" onchange={{action 'getdialect' value="target.value"}}>
  {{#each select_dialects as |dialect|}}
    {{#if dialect.selected}}
        <option selected>{{dialect.dialect}}</option>
    {{else}}
        <option>{{dialect.dialect}}</option>
    {{/if}}
  {{/each}}
</select>
<span>Сленг:</span>
<select class="changeword__select_slangs" onchange={{action 'getslang' value="target.value"}}>
  {{#each select_slangs as |slang|}}
    {{#if slang.selected}}
      <option selected>{{slang.slang}}</option>
    {{else}}
      <option>{{slang.slang}}</option>
    {{/if}}
  {{/each}}
</select>
<span>Описание:</span>
<textarea onchange={{action 'getdescription' value='target.value'}}>{{word.description}}</textarea>
<button onclick={{action 'changeword'}}>Изменить</button>