<table class="table table-hover">
  <thead>
  <tr>
    <th>Word</th>
    <th>Description</th>
    <th>Slang</th>
    <th>Dialect</th>
    <th>Link</th>
  {{#if user.view.moderator}}
    <th>Manage</th>
  {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#if words}}
    {{#each words as |word|}}
      <tr class="">
        <td>{{word.word}}</td>
        <td>{{word.description}}</td>
        <td>{{word.slang}}</td>
        <td>{{word.dialect}}</td>
        <td>
          <a href="{{word.url}}" class="btn btn-info" target="_blank">Download</a>
        </td>
      {{#if user.view.moderator}}
        <td>
        {{!--{{#link-to 'signin' class='btn btn-default btn-md' role="button"}}Sign In{{/link-to}}--}}
          <button {{action 'changeword' word}}>Change</button>
          <button {{action 'deleteword' word}}>Delete</button>
        </td>
      {{/if}}
      </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>
