{{#if user.view.moderator}}
<button {{action "createlanguage"}}>Create language</button>
{{/if}}
<table class="table table-hover">
  <thead>
  <tr>
    <th>Language</th>
    <th>Description</th>
  {{#if user.view.moderator}}
    <th>Manage</th>
  {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#if languages}}
    {{#each languages as |language|}}
      <tr class="">
        <td>{{language.language}}</td>
        <td>{{language.description}}</td>
        {{#if user.view.moderator}}
        <td>
          <button {{action "changelanguage" language}}>Change</button>
          <button {{action "deletelanguage" language}}>Delete</button>
        </td>
        {{/if}}
      </tr>
    {{/each}}
  {{else}}
    <h2 align="middle">Loading...</h2>
  {{/if}}
  </tbody>
</table>