{{#if user.view.moderator}}
  <button {{action "createslang"}}>Create slang</button>
{{/if}}
<table class="table table-hover">
  <thead>
  <tr>
    <th>Slang</th>
    <th>Description</th>
    {{#if user.view.moderator}}
      <th>Manage</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#if slangs}}
    {{#each slangs as |slang|}}
      <tr class="">
        <td>{{slang.slang}}</td>
        <td>{{slang.description}}</td>
        {{#if user.view.moderator}}
          <td>
            <button {{action "changeslang" slang}}>Change</button>
            <button {{action "deleteslang" slang}}>Delete</button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>