<table class="table table-hover">
  <thead>
  <tr>
    <th>Symbol</th>
    <th>Dialect</th>
    <th>Description</th>
    <th>Download</th>
  </tr>
  </thead>
  <tbody>
  {{#if symbols}}
    {{#each symbols as |symbol|}}
      <tr class="">
        <td>{{symbol.symbol}}</td>
        <td>{{symbol.dialect}}</td>
        <td>{{symbol.description}}</td>
        <td>
          <a href="{{symbol.url}}" class="btn btn-info" target="_blank">Download</a>
        </td>
      </tr>
    {{/each}}
  {{else}}
    <h2 align="middle">Loading...</h2>
  {{/if}}
  </tbody>
</table>